$mainColor: #fff;
$adsColor: #dddddd;
$defaultFonts: #000;
$subArticle: #b8b8b8;
$subArticleIcons: #cecece;
$subArticlePara: #5e5e5e;
$mainButtons: #567b95;
$navButtons: #326891;
$navButtonHover: #095996;
